{% extends "base.html" %}

{% block head %}
<title>Map</title>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""/>
<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='css/map.css')}}">
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block body %}
<h2>Map</h2>
<hr>
<div id="map"></div>

{% endblock %}

{% block JS %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
<script type="module">
    import {addAllFeaturesToMap} from "../static/js/map.js";
    addAllFeaturesToMap();
</script>
<script type="module" src="{{url_for('static', filename='js/map.js')}}" ></script>
{% endblock %}
